version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "pub"
    directories: [ "/example", "/maplibre", "/maplibre_ios", "/" ]
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"
  - package-ecosystem: "npm"
    directory: "/docs"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      dependencies:
        patterns: [ "*" ]
  - package-ecosystem: "gradle"
    directories: [ "/maplibre/android" , "/example/android" ]
    schedule:
      interval: "monthly"
    groups:
      dependencies:
        patterns: [ "*" ]
