name: maplibre
description: "Unofficial MapLibre bindings for Flutter"
version: 0.0.1
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
publish_to: none

platforms:
  android:
  web:

environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: '>=3.20.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  geotypes: ^0.0.2
  plugin_platform_interface: ^2.1.8
  web: ^1.0.0

dev_dependencies:
  build_runner: ^2.4.11
  flutter_test:
    sdk: flutter
  pigeon: ^22.0.0
  very_good_analysis: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.github.josxha.maplibre
        pluginClass: MapLibrePlugin
      ios:
        pluginClass: MaplibrePlugin
      linux:
        pluginClass: MaplibrePlugin
      macos:
        pluginClass: MaplibrePlugin
      windows:
        pluginClass: MaplibrePluginCApi
      web:
        pluginClass: PlatformWeb
        fileName: src/web/platform_web.dart
