name: maplibre
description: "Permissive and performant mapping library that supports Mapbox Vector Tiles (MVT) powered by MapLibre SDKs."
version: 0.1.0
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
homepage: https://flutter-maplibre.pages.dev
documentation: https://flutter-maplibre.pages.dev/docs

topics: [ map, maplibre, mvt ]

funding:
  - https://www.paypal.com/paypalme/joschaeckert

platforms:
  android:
  web:

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.24.0' # jni >=0.12.0 depends on meta ^1.15.0

dependencies:
  cupertino_icons: ^1.0.0
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  geotypes: ^0.0.2
  jni: ^0.12.0
  pointer_interceptor: ^0.10.1+2
  url_launcher: ^6.0.0
  web: ^1.0.0

dev_dependencies:
  build_runner: ^2.4.11
  flutter_test:
    sdk: flutter
  jnigen: ^0.12.0
  pigeon: ^22.0.0
  very_good_analysis: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.github.josxha.maplibre
        pluginClass: MapLibrePlugin
      ios:
        pluginClass: MaplibrePlugin
      linux:
        pluginClass: MaplibrePlugin
      macos:
        pluginClass: MaplibrePlugin
      windows:
        pluginClass: MaplibrePluginCApi
      web:
        pluginClass: PlatformImpl
        fileName: src/web/platform_impl.dart
