name: maplibre
description: "Permissive and performant mapping library that supports Mapbox Vector Tiles (MVT) powered by MapLibre SDKs."
version: 0.2.1
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
homepage: https://flutter-maplibre.pages.dev
documentation: https://flutter-maplibre.pages.dev/docs/index/
publish_to: 'none'

topics: [ map, maplibre, mvt ]

funding:
  - https://paypal.me/joschaeckert
  - https://github.com/sponsors/josxha

platforms:
  android:
  ios:
  web:

environment:
  flutter: ^3.29.0
  sdk: ^3.7.0

dependencies:
  ffi: ^2.1.3
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  geotypes: ^0.0.2
  html: ^0.15.4
  jni: ^0.13.0
  maplibre_ios:
    path: maplibre_ios
  objective_c: ^6.0.0
  pointer_interceptor: ^0.10.1+2
  url_launcher: ^6.3.0
  web: ^1.0.0

dev_dependencies:
  build_runner: ^2.4.11
  flutter_test:
    sdk: flutter
  jnigen: ^0.13.0
  mocktail: ^1.0.4
  pigeon: ^24.0.0
  very_good_analysis: ^7.0.0

screenshots:
  - description: 'MapLibre Logo'
    path: 'doc/logo.png'

flutter:
  plugin:
    platforms:
      android:
        package: com.github.josxha.maplibre
        pluginClass: MapLibrePlugin
      linux:
        pluginClass: MaplibrePlugin
      macos:
        pluginClass: MaplibrePlugin
      windows:
        pluginClass: MaplibrePluginCApi
      web:
        pluginClass: PlatformImpl
        fileName: src/platform/platform_web.dart
