name: flutter_maplibre
description: "Pub workspace package for Flutter MapLibre."
version: 1.0.0
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
homepage: https://flutter-maplibre.pages.dev
documentation: https://flutter-maplibre.pages.dev/docs/index/

publish_to: none
environment:
  sdk: '>=3.9.0 <4.0.0'

workspace:
  - examples
  - packages/maplibre
  - packages/maplibre_android
  - packages/maplibre_ios
  - packages/maplibre_ios/example
  - packages/maplibre_platform_interface
  - packages/maplibre_web
  - packages/maplibre_webview

dev_dependencies:
  pub_semver: ^2.2.0
  yaml: ^3.1.2
  args: ^2.7.0
