name: maplibre_ios
description: "Helper package for maplibre that provides iOS FFI bindings"
version: 0.3.2
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
homepage: https://flutter-maplibre.pages.dev
documentation: https://flutter-maplibre.pages.dev/docs/index/

environment:
  sdk: '>=3.9.0 <4.0.0'
  flutter: '>=3.35.0'

resolution: workspace

dependencies:
  code_assets: ^1.0.0
  ffi: ^2.1.3
  flutter:
    sdk: flutter
  hooks: ^1.0.0
  native_toolchain_c: ^0.17.4
  objective_c: ^9.0.0+1

dev_dependencies:
  ffigen: 20.1.1
  very_good_analysis: ^10.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: MapLibreIosPlugin
