name: maplibre_ios
description: "Helper package for maplibre that provides iOS FFI bindings"
version: 0.0.1
homepage: https://github.com/josxha/flutter-maplibre

environment:
  sdk: ^3.4.0
  flutter: '>=3.4.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.3
  objective_c: ^4.0.0

dev_dependencies:
  flutter_lints: ^5.0.0
  ffigen: ^16.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: MapLibreIosPlugin

ffigen:
  name: MapLibreFFi
  description: Bindings for MapLibre iOS.
  language: objc
  output: 'lib/maplibre_ffi.dart'
  exclude-all-by-default: true
  objc-interfaces:
    include:
      - 'NSString'
      - 'MapLibreRegistry'
      - 'MLNMapView'
      - 'MLNMapCamera'
      - 'CLLocationCoordinate2D'
      - 'MLNMapProjection'
      - 'MLNStyle'
      - 'MLNSource'
      - 'MLNRasterTileSource'
      - 'MLNVectorTileSource'
      - 'MLNImageSource'
      - 'MLNRasterDEMSource'
      - 'MLNVectorTileSource'
      - 'MLNBackgroundStyleLayer'
      - 'MLNCircleStyleLayer'
      - 'MLNFillExtrusionStyleLayer'
      - 'MLNFillStyleLayer'
      - 'MLNHeatmapStyleLayer'
      - 'MLNHillshadeStyleLayer'
      - 'MLNLineStyleLayer'
      - 'MLNRasterStyleLayer'
      - 'MLNSymbolStyleLayer'
      - 'MLNVectorStyleLayer'
      - 'MLNShapeSource'
      - 'MLNImageSource'
      - 'MLNShape'
      - 'MLNRasterDEMSource'
      - 'NSImage'
      - 'NSExpression'
      - 'Helpers'
    module:
      'MapLibreRegistry': 'maplibre_ios'
      'Helpers': 'maplibre_ios'
      'MLNMapView': 'MapLibre'
      'MLNMapCamera': 'MapLibre'
      'MLNVectorTileSource': 'MapLibre'
  headers:
    entry-points:
      - 'ios/maplibre_ios/Sources/maplibre_ios/MapLibreRegistry.h'
      - 'ios/maplibre_ios/Sources/maplibre_ios/Helpers.h'
      # using the MapLibre.h file doesn't seem to work
      # TODO find a better solution for the entry points
      #- '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MapLibre.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNMapView.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNMapProjection.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNStyle.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNSource.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNVectorTileSource.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNComputedShapeSource.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNImageSource.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNRasterTileSource.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNRasterDEMSource.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNBackgroundStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNCircleStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNFillExtrusionStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNFillStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNHeatmapStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNHillshadeStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNLineStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNRasterStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNSymbolStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNVectorStyleLayer.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/NSExpression+MLNAdditions.h'
    #include-directives:
      #- '~/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.10.0-d668e/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers'
  preamble: |
    // ignore_for_file: camel_case_types, non_constant_identifier_names, unused_element, unused_field, return_of_invalid_type, void_checks, annotate_overrides, no_leading_underscores_for_local_identifiers, library_private_types_in_public_api