name: maplibre_ios
description: "Helper package for maplibre that provides iOS FFI bindings"
version: 0.3.0
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
homepage: https://flutter-maplibre.pages.dev
documentation: https://flutter-maplibre.pages.dev/docs/index/

environment:
  sdk: '>=3.9.0 <4.0.0'
  flutter: '>=3.35.0'

resolution: workspace

dependencies:
  ffi: ^2.1.3
  flutter:
    sdk: flutter
  objective_c:
    git:
      url: https://github.com/dart-lang/native
      path: pkgs/objective_c
      ref: 70969fa8049718aad7a2e890ca76728dece34ee4

dev_dependencies:
  ffigen:
    git:
      url: https://github.com/dart-lang/native
      path: pkgs/ffigen
      ref: 70969fa8049718aad7a2e890ca76728dece34ee4
  very_good_analysis: ^10.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: MapLibreIosPlugin

ffigen:
  name: MapLibreFFi
  description: Bindings for MapLibre iOS.
  language: objc
  output: 'lib/maplibre_ffi.dart'
  exclude-all-by-default: true
  objc-protocols:
    include:
      - 'MLN.*'
  objc-interfaces:
    include:
      - 'NSString'
      - 'CLLocationCoordinate2D'
      - 'NSAttributedString'
      - 'NSImage'
      - 'UIAction'
      - 'UIMenu'
      - 'UIPointerEffect'
      - 'UIPointerShape'
      - 'UIPointerStyle'
      - 'UITableViewCell'
      - 'UICellConfigurationState'
      - 'UITableViewHeaderFooterView'
      - 'UIViewConfigurationState'
      - 'NSExpression'
      - 'Helpers'
      - 'MapLibreRegistry'
      - 'Extensions'
      - 'MLN.*'
    module:
      'MapLibreRegistry': 'maplibre_ios'
      'Helpers': 'maplibre_ios'
      'Extensions': 'maplibre_ios'
      'MLNMapView': 'MapLibre'
      'MLNMapCamera': 'MapLibre'
      'MLNVectorTileSource': 'MapLibre'
      'MLNOfflinePack': 'MapLibre'
      'MLNOfflineRegion': 'MapLibre'
    member-filter:
      'UIResponder':
        exclude:
          - 'copy:'
      'MLNMapView':
        exclude:
          - 'initWithFrame:'
    member-rename:
      'MLNSource':
        # https://github.com/dart-lang/native/issues/2419
        'initWithIdentifier:': 'initWithIdentifier_'
  compiler-opts:
    - '-Fios/.build/MapLibre.xcframework/ios-arm64/'
    - '-Iios/.build/MapLibre.xcframework/ios-arm64/MapLibre.framework/Headers'
    - '-isysroot /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk'
  headers:
    entry-points:
      - 'ios/maplibre_ios/Sources/maplibre_ios/MapLibreIos.h'
      - 'MapLibre.h'
  preamble: |
    // ignore_for_file: type=lint, unused_element, unused_field |
    // dart format off
