name: maplibre_ios
description: "Helper package for maplibre that provides iOS FFI bindings"
version: 0.0.1
homepage: https://github.com/josxha/flutter-maplibre

environment:
  sdk: ^3.4.0
  flutter: '>=3.4.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.3
  objective_c: ^4.0.0

dev_dependencies:
  flutter_lints: ^5.0.0
  ffigen: ^16.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: MapLibreIosPlugin

ffigen:
  name: MapLibreFFi
  description: Bindings for MapLibre iOS.
  language: objc
  output: 'lib/maplibre_ffi.dart'
  exclude-all-by-default: true
  objc-interfaces:
    include:
      - 'MLNMapView'
    module:
      'MLNMapView': 'MapLibre'
  headers:
    entry-points:
      #- '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.8.1-46c5f/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MapLibre.h'
      #- '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.8.1-46c5f/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/Mapbox.h'
      - '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.8.1-46c5f/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers/MLNMapView.h'
    #include-directives:
      #- '/Users/joscha/Library/Caches/CocoaPods/Pods/Release/MapLibre/6.8.1-46c5f/MapLibre.xcframework/ios-arm64_x86_64-simulator/MapLibre.framework/Headers'
  preamble: |
    // ignore_for_file: camel_case_types, non_constant_identifier_names, unused_element, unused_field, return_of_invalid_type, void_checks, annotate_overrides, no_leading_underscores_for_local_identifiers, library_private_types_in_public_api