name: maplibre_web
description: "WebView implementation of the Flutter MapLibre plugin."
version: 0.3.3+2
repository: https://github.com/josxha/flutter-maplibre
issue_tracker: https://github.com/josxha/flutter-maplibre/issues
homepage: https://flutter-maplibre.pages.dev
documentation: https://flutter-maplibre.pages.dev/docs/index/

environment:
  sdk: '>=3.9.0 <4.0.0'
  flutter: '>=3.35.0'

resolution: workspace

dependencies:
  flutter: { sdk: flutter }

dev_dependencies:
  very_good_analysis: ^10.0.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: MapLibrePlugin