name: Draft Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "pub.dev semver version for the new release"
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: "Setup Flutter SDK"
        uses: subosito/flutter-action@v2
        with:
          cache: true
      - name: Install dependencies
        run: dart pub get
      - name: Run release checks
        id: check_release
        run: dart run tool/check-release.dart --version ${{ inputs.version }}
      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          body_path: build/release_notes.txt
          tag_name: v${{ inputs.version }}
          name: v${{ inputs.version }}
          draft: true
