name: Fix CI

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format-dart:
    name: "Fix CI"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          cache: true
      - name: "Get Flutter dependencies"
        run: dart pub get
      - name: "Install SwiftFormat"
        run: brew install swiftformat
      - name: "dart fix"
        run: dart fix --apply
      - name: "Format Swift code"
        run: swiftformat --verbose . --reporter github-actions-log --swiftversion 6 --disable trailingCommas
      - name: ktlint
        uses: ScaCap/action-ktlint@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          filter_mode: nofilter
          file_glob: "!**/*.g.*"
      - name: Run pigeon
        run: sh ./pigeons/run_code_gen.sh
      - name: Build example APK
        working-directory: example
        run: flutter build apk
      - name: Run jnigen
        working-directory: maplibre
        run: dart run tool/jnigen.dart
      - name: dart format
        run: dart format .
      - name: Check difference
        run: |
          git add --all BodenseeNavigatorServer && \
          status=$(git status -s BodenseeNavigatorServer) && \
          echo $status && \
          echo "GIT_STATUS=${status//$'\n'/\\n}" >> $GITHUB_ENV
      - name: Push changes
        if: "contains(env.GIT_STATUS, 'bodensee_navigator-v')"
        run: |
          git config --global user.email "action@github.com" && \
          git config --global user.name "Github CI" && \
          git commit -a -m "update OpenApi" && \
          git push