name: Flutter Beta CI

on:
  schedule: [ cron: '0 0 * * */2' ]
  workflow_dispatch:

env:
  FLUTTER_CHANNEL: 'beta'

jobs:
  build-android:
    name: "Build Android APK"
    runs-on: ubuntu-latest
    defaults: { run: { working-directory: examples } }
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - name: Build example APK
        run: flutter build apk
      - name: Upload apk as artifact
        uses: actions/upload-artifact@v6
        with:
          name: maplibre-flutter-demo.apk
          path: example/build/app/outputs/flutter-apk/app-release.apk
  build-ios:
    name: "[iOS] Build package"
    runs-on: macos-latest
    timeout-minutes: 30
    defaults: { run: { working-directory: examples } }
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - run: flutter config --enable-swift-package-manager
      - name: "Get Flutter dependencies"
        run: dart pub get
      - name: "Build iOS package"
        run: flutter build ios --simulator --no-codesign
      - name: Upload Runner.app as artifact
        uses: actions/upload-artifact@v6
        with:
          name: maplibre-flutter-demo.app
          path: examples/build/ios/iphoneos/Runner.app
  build-web:
    name: "Build Web"
    runs-on: ubuntu-latest
    defaults: { run: { working-directory: examples } }
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - name: Build web
        run: flutter build web
  build-web-wasm:
    name: "Build Web WASM"
    runs-on: ubuntu-latest
    defaults: { run: { working-directory: examples } }
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - name: Build web
        run: flutter build web --wasm
  build-windows:
    name: "[Windows] Build"
    runs-on: windows-latest
    defaults: { run: { working-directory: examples } }
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - name: "Get Flutter dependencies"
        run: dart pub get
      - name: Build windows
        run: flutter build windows --debug
  build-macos:
    name: "[macOS] Build"
    runs-on: macos-latest
    defaults: { run: { working-directory: examples } }
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - name: "Get Flutter dependencies"
        run: dart pub get
      - name: Build macOS
        run: flutter build macos --debug